TOKEN_API_URL=https://9aozj1j64j.execute-api.ap-southeast-1.amazonaws.com/prod
PLATFORM_API_KEY=1122334455667788
# issuer wallets (must be checksummed, will be tokenOwner)
ISSUER_NIKKO_WALLET=0xYourWalletForNikkoAM
ISSUER_TBILL_WALLET=0xYourWalletForAttestGoTreasury
# optional: override factory chain (server uses env)
# FACTORY_ADDR=0x7843c062939FCBfA150c962a4214d2e14714A820
